.hero {
	height: 1000px;
	width: 100%;
	background: url(../../img/hero-bg.jpg) no-repeat;
	background-size: cover;
	text-align: right;
	// padding-right: 15em;
	.hero__main-heading {
		color: #fff;
		font-size: 220px;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 27px;
	}
	.hero__subheading {
		color: #fff;
		font-size: 64px;
		font-weight: 600;
		letter-spacing: 8px;
	}
	.hero__offer {
		margin: 250px 0 0 0;
	}
}