.nav {
	position: relative;
	float: right;
	margin: 22px 100px 0 0;
	width: 50px;
	height: 36px;
	transition: 300ms;
	z-index: 10;
		
	// элементы
	.nav__menu {
		display: block;
		width: 100%;
		height: 100%;
		color: #fff;
		text-decoration: none;
		font-size: 15px;
		line-height: 36px;
		text-transform: uppercase;
		font-family: $main-font;
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;
	    padding: 0;
    	background-color: transparent;
    	border: none;
    	transition: 300ms;

		&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #fff;
		transition: 300ms;
		}

		&::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #fff;
		transition: 300ms;
		}		
	}

	.nav__menu_close {
		&::before {
		transform-origin: 50% 50%;
		transform:  translateY(16px)
					rotate(225deg);
		transition: 300ms;
		}

		&::after {
		transform-origin: 50% 50%;
		transform:  translateY(-15px)
					rotate(-225deg);		
		transition: 300ms;
		}
	}

	.nav__menu_text {
		opacity: 1;
		transition: 300ms;
	}

	.nav__menu_text_close {
		opacity: 0;
		transition: 300ms;
	}
}

button.nav__menu:focus {
	outline: none;
	cursor: pointer;
}


.nav-full {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	color: #fff;
}
