@import "base/_reset";
@import "base/_scale";
@import 'base/fonts';
@import 'block/var';

// блоки
@import 'block/nav';
@import 'block/container';
@import 'block/line-deco';



// секции в порядке следования
@import 'block/hero';
@import 'block/header';
@import 'block/description';
@import 'block/quotes';

h1, h2, h3, h4, h5, h6, p {
	font-family: $main-font;
}

.section-heading {
	font-size: 60px;
	font-weight: 700;
}

