/*создать переменные для разных видов текста*/

$font-stack: 'Sunday', serif, sans-serif;
/*===================================================================*/
/*использовать расчеты для корректировки шрифтов на десктоп/мобайл*/
$font-desktop: 24px;
$font-laptop: $font-desktop + 5px;
$font-mobile: $font-laptop + 7px;

/*======================================================================*/
/*использовать наследование*/
/*оно дублирует однотипные правила, собирая их в одно, а разные правила разносит по разным селекторам*/
.message {
	border-radius: 5px;
	font-size: 25px;
}

.message_yes {
	@extend .message;
	background-color: red;
}
/*даст такой код:*/
.message, .message_yes {
	border-radius: 5px;
	font-size: 25px;
}
.message_yes {
	background-color: red;
}

@extend хорошо применять для item'ов с разным background, но одинаковыми остальными свойствами

/*=========================================================================*/
/*для расчета ширины в резиновом макете использовать расчеты, а не фиксированные единицы*/
.main {
	width: 1400px;
}
.content {
	width: 1000 / 1400 * 100%;
}
.left-menu {
	width: 400 / 1400 * 100%;
}

/*простая модульная сетка в 13 колонок*/
$desktop-width: 1400px;
$column {
	$desktop-width / 12;
}

.some-article {
	width: $column * 4;
}